{{define "subject"}}Reset your TaskTracker password!{{end}}

{{define "plainBody"}}
Hello,

Please send a request to the `PUT /api/v1/users/password` endpoint with the following JSON body to verify your account:
{
        "token": "{{.passwordResetToken}}",
        "new_password": "<your-new-password>"
}

Please note that this is one-time use token, and it will expire in 24 hours.

Kind Regards,
The TaskTracker Team
{{end}}


{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewpoint" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
</head>

<body>
    <p>Hello,</p>
    <p>Please send a request to the <code>PUT /api/v1/users/password</code> endpoint
    with the following JSON body to verify your account:</p>
    <pre><code>
    {
        "token": "{{.passwordResetToken}}",
        "new_password": "&lt;your-new-password&gt;"
    }
    </code></pre>
    <p>Please note that this is a one-time use token, and it will expire 24 hours.</p>
    <p>Kind Regards,</p>
    <p>The TaskTracker Team</p>
</body>

</html>
{{end}}